// HomePage.scss

// Variables
$PrimaryBlue: #38B0DB;
$SecundaryBlue: #236982;
$PrimaryBackground: #ffffff;
$SecondaryBackground: #F4F4F4;
$PrimaryTextColor: #5B5858;
$TertiaryBackground: #b1b1b1;
$HoverTextColor: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PrimaryBlue: #{$PrimaryBlue};
  --SecundaryBlue: #{$SecundaryBlue};
  --PrimaryBackground: #{$PrimaryBackground};
  --SecondaryBackground: #{$SecondaryBackground};
  --PrimaryTextColor: #{$PrimaryTextColor};
  --TertiaryBackground: #{$TertiaryBackground};
  --HoverTextColor: #{$HoverTextColor};
}

.navbar {
  background-color: $PrimaryBackground;
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 8vh;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: $TertiaryBackground;
  }

  img {
    width: 100%;
    height: 100%;
    padding: 8px;
    object-fit: contain;
  }
}

.name_company {
  display: flex;
  width: 35%;
  height: 100%;
  align-items: center;

  span {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: black;
    padding: 0.5rem;
  }
}

.container_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

.container_icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 30%;
  padding-right: 1rem;
  gap: 1.5rem;
}

.icon_notification,
.icon_setting {
  font-size: 1.7rem;
  color: $PrimaryBlue;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $SecundaryBlue;
    transition: all 0.3s ease-in-out;
  }
}

.icon_setting {
  font-size: 1.5rem;
}

.container_buttons_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 1.2rem;
}

.button_search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid $TertiaryBackground;
  border-radius: 5px;
  padding: 5px 15px;
  color: $PrimaryBlue;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $PrimaryBlue;
    color: $HoverTextColor;
    transition: all 0.3s ease-in-out;
  }
}

.button_create {
  display: flex;
  align-items: center;
  background-color: $PrimaryBlue;
  border: 1px solid $TertiaryBackground;
  border-radius: 5px;
  padding: 5px 15px;
  color: $PrimaryBlue;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  a {
    color: $PrimaryBackground;
  }
}

.icon_create {
  font-size: 1.5rem;
  font-weight: bold;
  color: $PrimaryBackground;
}

.name_user {
  margin-left: 1.5rem;
}
