$PrimaryBlue: #36aad4;
$SecundaryBlue: #236982;
$PrimaryBackground: #ffffff;
$SecondaryBackground: #ffffff5e;
$PrimaryTextColor: #ffffff;
$TertiaryBackground: #b1b1b1;
$HoverTextColor: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PrimaryBlue: #{$PrimaryBlue};
  --SecundaryBlue: #{$SecundaryBlue};
  --PrimaryBackground: #{$PrimaryBackground};
  --SecondaryBackground: #{$SecondaryBackground};
  --PrimaryTextColor: #{$PrimaryTextColor};
  --TertiaryBackground: #{$TertiaryBackground};
  --HoverTextColor: #{$HoverTextColor};
}

#sidebar_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(180deg, var(--PrimaryBlue), var(--SecundaryBlue));
  width: 5vw;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    width: 15vw;

    .sidebar_list li {
      justify-content: flex-start;
      padding-left: 0.5rem;

      .sidebar_text {
        display: inline;
        margin-left: 0.8rem;
      }
    }
  }
}

#sidebar_container.expanded {
  width: 15vw;
}

.icon_sidebar {
  font-size: 1.5rem;
}

.sidebar_list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;

  li {
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    background-color: $SecundaryBlue;
    color: $PrimaryTextColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;

    .sidebar_text {
      display: none;
      white-space: nowrap;
      font-size: 1rem;
    }

    &:hover {
      background-color: $SecondaryBackground;
      color: $HoverTextColor;
      border: 2px solid $HoverTextColor;
      cursor: pointer;
    }
  }
}

.element_marked {
  background-color: $SecondaryBackground;
  color: $HoverTextColor;
  border: 2px solid $HoverTextColor;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
